<p>Dear <%= name %>,</p>

<p>
  A new <%= type %> request has been submitted in the "Parish Sacrament
  Monitoring Sytem" on "<%= date %>". Please review the application and take
  appropriate action.
</p>

<p>
  <a href="<%= link %>">Login to your account</a>
</p>
