<p>Hey <%= name %>!</p>
<p>
  Welcome to Parish Monitoring system — We're thrilled to have you on board. <%
  if (password) { %>
</p>

<p>Your password is: <%= password %> <% } %></p>
<p>To kick off t, we need you to confirm your account below:</p>

<p>
  <a href="<%= confirmation_url %>">Click here!</a>
</p>

<p>
  If you're struggling to click on the link above, copy and paste the below URL
  into your web browser.
</p>
