<p>Dear <%= name %>,</p>

<p>
    You have been requested to pay offering amount of <%= amount %> Rwf in the "Parish Sacrament
        Monitoring Sytem" so that your service requested can be approved.
        Please review the application and take
        appropriate action.
</p>

<p>
    <a href="<%= link %>">Login to your account</a>
</p>